<div class="nf-content">
    <mat-tab-group >
        <mat-tab label="Image Classification"> 

            <h4  [hidden]="isLoading">{{predection ? predection : "???"}}</h4>
            <img [hidden]="isLoading" class="img-classification" [src]="link ? link : 'https://icons.iconarchive.com/icons/bokehlicia/captiva/256/software-upload-icon.png'" />
           
    <div [hidden]="!isLoading">
        <mat-progress-spinner
        class="nf-spinner"
        [color]="color"
        [mode]="mode"
        [value]="value">
         </mat-progress-spinner>
    </div>
            <div class="nf-list">
              

               
                <div class="nf-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Image link : </mat-label>
                      <input [(ngModel)]="link"  matInput  value="">
                    </mat-form-field>
                    <button (click)="topTrending()" mat-raised-button><i class="material-icons">&#xe5d5;</i>ANALYSE</button>
                </div>
            </div>
        </mat-tab>
         
    </mat-tab-group>
</div>