.nf-content {
	background: #ffffff3d;
    width: 60%;
    margin: 90px auto;
    position: relative;
}

.nf-content .nf-list li {
	padding: 8px 0px;
	border-bottom: 2px solid #dc141e;
	width: 70%;
	position: relative;
	list-style: none;
}

.nf-content .nf-list label {
	color: white;
}

.nf-content .nf-list li span {
	position: absolute;
	right: 0px;
}
h4{
	color: white;
	margin: 10px;
}
.nf-content .nf-list li i.material-icons {
	position: relative;
	top: 6px;
}
.nf-content .nf-spinner {
	position: relative;
	margin: 20px auto;
}

.img-classification
{
	width: 200px;
	margin: 20px auto;
}